extends ../../layout/header
block content
        div(id="contents")
            ul(class="contents-list")
                each post in posts
                    div.post-container
                        div.vote-container= post.totalVotes
                        div.post
                            a.post__link(href=post.url)= post.title
                            div.post__meta
                                a(href= post.subredditUrl + '/' + post.postId)
                                    p [ replies ]
                                p #{post.user.username}
                                a(href=post.subredditUrl) #{post.subredditUrl}