extends ../../layout/main
block content
        section(class="contents")
                each post in posts
                    article.container--post
                        div.container--vote
                            if user
                                button.post__vote-button(data-postid=post.postId, data-value="1")
                                    i.fa.fa-arrow-up(class=(post.userVote === 1 ? 'active' : ''))
                            p.post__vote-value=post.totalVotes
                            if user
                                button.post__vote-button(data-postid=post.postId, data-value="-1")
                                    i.fa.fa-arrow-down(class=(post.userVote === -1 ? 'active' : ''))
                        div.post
                            a.post__title(href=post.url)= post.title
                            div.post__meta
                                p.post__meta--posted-by posted #{moment(post.createdAt).fromNow()} by #{post.user.username} to #[a(href=post.subredditUrl) #{post.subredditUrl}]
                                a.post__meta--replies(href= post.subredditUrl + '/' + post.postId) [ replies ]