extends ../../layout/main
block content
        section(class="contents")
                each post in posts
                    article.container--post
                        div.container--vote
                            button.post__vote-button(data-postid=post.postId, data-value="1")  ^
                            p.post__vote-value=post.totalVotes
                            button.post__vote-button(data-postid=post.postId, data-value="-1") v
                        div.post
                            a.post__title(href=post.url)= post.title
                            div.post__meta
                                p.post__meta--posted-by posted #{moment(post.createdAt).fromNow()} by #{post.user.username} to #[a(href=post.subredditUrl) #{post.subredditUrl}]
                                a.post__meta--replies(href= post.subredditUrl + '/' + post.postId) [ replies ]